body{
   background: linear-gradient(red, yellow);
   text-align: center;
}
img{
    border-radius: 100%;
}
/* input{
    font-size: 20px;
} */
#alertsHeading{
    font-size: 25px;
    margin-bottom: 10px;
}
#first{
    font-size: 20px;
    border-right:  5px solid green;
    padding: 0px 15px 10px 15px;
}
#second{
    font-size: 20px;
    border-right:  5px solid green;
    padding: 0px 15px 10px 15px;
}
#third{
    font-size: 20px;
    padding: 10px 15px 0px 15px;
}
.alerts{
    border: 5px solid green;
    background: white;
    margin: 10px;
}
.paymentButton{
  font-size: 25px;
}
button{ 
    width: 100%;
    background-color: pink;
    text-align: bottom;
    padding: 20px;
}
p.checking{
    display: inline-block;
}
#currentStat{
    margin-bottom: 20px;
}
.calendar{
    width: 85%;
    background-color: pink;
    text-align: bottom;
    padding: 20px;
}